<!---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
글 등록!!

제목
<input type="text" id="create_title" />
구분
<input type="text" id="create_cate" />
사진
<input type="text" id="create_img" />
내용
<input type="text" id="create_content" />

파일 먼저 업로드 하기
<input type="file" id="upload_file" onchange="readURLFile(this)"/>

<a href="javascript:create();">등록해줘요.</a>
<script>

    let aaa = localStorage.getItem("accessToken");
    alert(aaa);

    let limit_each_file_size = 10;
    function readURLFile(input) {
        //let temp_id = $(input).attr("id") + "";
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function(e) {
                let temp_each_file_size = input.files[0].size / (1024 * 1024);
                if (temp_each_file_size > limit_each_file_size) {
                    alert("파일 1개 당 " + limit_each_file_size + "mb 용량 제한 초과 입니다!");
                    $(input).val("");
                    return false;
                }

                let fileData = new FormData();
                fileData.append("file", input.files[0]);

                $.ajax({
                    url: "/api/default/uploadFile",
                    type: "POST",
                    data: fileData ,
                    cache : false,
                    contentType : false,
                    processData : false,
                    success: (data, status, xhr)=>{
                        alert(xhr.status);
                        alert(JSON.stringify(data));
                        switch(xhr.status){
                            case 201:
                                $("#create_img").val(data.url);
                                break;
                            default:
                                console.log("no matching status code");
                        }
                    },
                    error: (data)=>{
                        alert("error")
                    },
                });
            }
        }
    }


    function create(){
        $.ajax({
            url : '/api/tbpost',
            type : 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("Authorization", localStorage.getItem("accessToken"));
            },
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify({
                'title' : $("#create_title").val(),
                'cate' : $("#create_cate").val(),
                'img' : $("#create_img").val(),
                'content' : $("#create_content").val()
            }),
            success : function(data){
                alert(JSON.stringify(data));
            },
            error : function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
            complete:function(){
                //
            }
        });




    }
</script>
</body>
</html>