<!---->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<script id="list_info_tbpost" type="text/x-handlebars-template">
    {{#resultData_tbpost}}
    <div>
        {{createdAt}} / {{modifiedAt}}
        {{title}} // {{cate}} // {{mpic}} // {{content}}
    </div>
    {{/resultData_tbpost}}
</script>
<script type="text/javascript">
    var list_info_tbpost = $("#list_info_tbpost").html();
    var list_info_tbpost_template = Handlebars.compile(list_info_tbpost);
</script>


목록


nick
<input type="text" id="detail_deleted" />
제목
<input type="text" id="detail_title" />
<a href="javascript:list();">조회해줘요.</a>

<div id="div_tbpost_list">

</div>
<script>

    function list(){
        $.ajax({
            url : '/api/tbpost/list',
            type : 'GET',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.setRequestHeader("Authorization", localStorage.getItem("accessToken"));
            },
            data: {
                'deleted' : $("#detail_deleted").val()
                ,'title' : $("#detail_title").val()
            },
            //paramData = $.param(_data.param);
            success : function(data){
                alert(JSON.stringify(data));
                let each_list = data;
                $("#div_tbpost_list").append(list_info_tbpost_template({"resultData_tbpost":each_list}));

                /*
                alert(data.username);
                */
            },
            error : function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            },
            complete:function(){
                //
            }
        });
    }
</script>
</body>
</html>