<footer class="footer">
    <div class="ft">
        <div class="ft-menu">
            <a href="/home">
                <img src="/resources/frontuser/img/common/ico_menu1_footer.svg" alt=" " class="ico">
                <div class="tit">홈</div>
            </a>

            <a href="#">
                <img src="/resources/frontuser/img/common/ico_menu2_footer.svg" alt=" " class="ico">
                <div class="tit">게임하기</div>
            </a>

            <a href="#">
                <img src="/resources/frontuser/img/common/ico_menu3_footer.svg" alt=" " class="ico">
                <div class="tit">포인트교환</div>
            </a>

            <a href="#">
                <img src="/resources/frontuser/img/common/ico_menu4_footer.svg" alt=" " class="ico">
                <div class="tit">커뮤니티</div>
            </a>
        </div>

        <div class="ft-menu">
            <a href="#">
                <img src="/resources/frontuser/img/common/ico_menu5_footer.svg" alt=" " class="ico">
                <div class="tit">QR관리</div>
            </a>

            <a href="/tbnotice/list">
                <img src="/resources/frontuser/img/common/ico_menu6_footer.svg" alt=" " class="ico">
                <div class="tit">이용안내</div>
            </a>

            <a href="/cs">
                <img src="/resources/frontuser/img/common/ico_menu7_footer.svg" alt=" " class="ico">
                <div class="tit">고객센터</div>
            </a>

            <a href="/tbuser/myinfo">
                <img src="/resources/frontuser/img/common/ico_menu8_footer.svg" alt=" " class="ico">
                <div class="tit">내 정보</div>
            </a>
        </div>
    </div>
</footer>