<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="/index">Drawing<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <!--<li class="nav-item active">
                    <a class="nav-link" href="list.html">Home</a>
                </li>-->
                <li class="nav-item li_nav_tbgrcp"><a class="nav-link" href="/tbgrcp/list">가위바위보</a></li>
                <li class="nav-item li_nav_tbgdraw"><a class="nav-link" href="/tbgdraw/list">뽑기</a></li>
                <li class="nav-item li_nav_tbgwheel"><a class="nav-link" href="/tbgwheel/list">룰렛</a></li>
                <li class="nav-item li_nav_tbglotto"><a class="nav-link" href="/tbglotto/list">Lotto</a></li>
                <li class="nav-item li_nav_tbnotice"><a class="nav-link" href="/tbnotice/list">Notice</a></li>
                <li class="nav-item li_nav_tbpost"><a class="nav-link" href="/tbpost/list">Post</a></li>
                <li class="nav-item li_nav_tbcrewuser"><a class="nav-link" href="/tbcrewuser/list">QRs</a></li>
                <li class="nav-item li_nav_tbmsg"><a class="nav-link" href="/tbmsg/msgroom">1:1msg</a></li>
                <li class="nav-item li_nav_tbfollow"><a class="nav-link" href="/tbfollow/list">Friend</a></li>
                <li class="nav-item li_nav_tbuserblock"><a class="nav-link" href="/tbuserblock/list">UserBlock</a></li>

               <!-- <li><a class="nav-link" href="about.html">About us</a></li>
                <li><a class="nav-link" href="services.html">Services</a></li>
                <li><a class="nav-link" href="blog.html">Blog</a></li>
                <li><a class="nav-link" href="contact.html">Contact us</a></li>-->
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link hide nav_tbuser_login nav_tbuser_login_after" href="/tbuser/mypage"><img src="/resources/frontpub/images/user.svg"></a></li>
                <li><a class="nav-link hide nav_tbuser_login nav_tbuser_login_before" href="/tbuser/login"><img src="/resources/frontpub/images/user.svg"></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->