<!doctype html>
<html lang="ko">
<head>
    <head th:replace="~{@{includes/user/head}}"></head>
</head>
<body>

<div id="wrap">
    <header class="header">
        <div class="hd">
            <div class="hd-tit">고객센터</div>
            <button type="button" class="hd-back" onclick="location.href='javascript:history.back(-1);'"></button>
        </div>
    </header>

    <div class="container">
        <div class="csc">
            <ol class="list-menu">
                <li>
                    <a href="/tbfaq/list" class="card">
                        <div class="tit-group">
                            <div class="tit">자주 묻는 질문</div>
                            <div class="txt">유저들의 자주 묻는 질문들을 확인해보세요.</div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/tbqna/list" class="card">
                        <div class="tit-group">
                            <div class="tit">1:1 문의하기</div>
                            <div class="txt">빠르고 신속하게 답변 드리겠습니다.</div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="card">
                        <div class="tit-group">
                            <div class="tit">카카오채널 실시간 문의</div>
                            <div class="txt">운영시간: 평일 11:00 ~ 17:00 / 점심시간 12:30 ~ 14:00</div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="card">
                        <div class="tit-group">
                            <div class="tit">고객센터 연결</div>
                            <div class="txt">운영시간: 평일 11:00 ~ 17:00 / 점심시간 12:30 ~ 14:00</div>
                        </div>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>

<body th:replace="~{@{includes/user/bottom}}"></body>
</body>
</html>