<!doctype html>
<html lang="ko">
<head>
    <head th:replace="~{@{includes/user/head}}"></head>
</head>
<body>

<div class="intro">
    <div class="tit-group">
        <img src="/resources/frontuser/img/img_logo1.svg" alt="무인가드" class="img-logo">
        <div class="tit">무인가드</div>
        <div class="txt">회원가입 한 번으로 전국 모든 <br>MUIN GUARD PC 방에서 이용 가능해요!</div>
    </div>

    <a href="/agree" class="btn-custom btn-custom-v1">시작하기</a>
</div>

<body th:replace="~{@{includes/user/bottom}}"></body>

<script>
    detail_tbuser();
    $( document ).ready(function() {
        console.log( "ready!" );
    });
    function detail_tbuser(){
        let _param = {
            id : "my"
        };
        let _data = new Map();
        _data.url = "/api/tbuser";
        _data.type = "GET";
        _data.param = _param;
        _data.success = function(obj_data, obj_status, obj_xhr){
            //alert(JSON.stringify(obj_data));
            if(isNull(obj_data.id)){
            } else {
                location.replace("/home");
            }
        }
        _data.error = function(obj_data, obj_status, obj_xhr){
            alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
        }
        func_ajax(_data);
    }
</script>

</body>
</html>