<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbuser").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>사용자 상세 : <font class="font_tbuser_nick"></font></h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbuser/admin_list">권한 관련</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbuser/admin_list">사용자 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>사용자 상세</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>#<font class="font_tbuser_id">-</font></h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <input type="hidden" id="detail_tbuser_id" value="" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">삭제여부</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbuser_deleted" keyword="deleted" onchange="update_tbuser(this)">
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-6 col-form-label"></label>

                            <label class="col-sm-2 col-form-label">*코드</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbuser_code" keyword="code" placeholder="내용을 입력하세요" readonly="readonly" />
                            </div>
                            <label class="col-sm-2 col-form-label">*nick</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbuser_nick" keyword="nick" placeholder="내용을 입력하세요" onchange="update_tbuser(this)" />
                            </div>
                            <label class="col-sm-2 col-form-label">*이름</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbuser_name" keyword="name" placeholder="내용을 입력하세요" readonly="readonly" />
                            </div>
                            <label class="col-sm-2 col-form-label">*전화번호</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbuser_phone" keyword="phone" placeholder="내용을 입력하세요" readonly="readonly" />
                            </div>

                            <label class="col-sm-2 col-form-label">요약설명</label>
                            <div class="col-sm-10">
                                <textarea class="form-control m-b" id="detail_tbuser_brief" keyword="brief" onkeyup="listener_maxlength_check(this, 2000);" onchange="update_tbuser(this)" rows="2" placeholder="내용을 입력하세요"></textarea>
                            </div>
                            <label class="col-sm-2 col-form-label">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control m-b" id="detail_tbuser_content" keyword="content" onkeyup="listener_maxlength_check(this, 2000);" onchange="update_tbuser(this)" rows="4" placeholder="내용을 입력하세요"></textarea>
                            </div>

                            <label class="col-sm-2">
                                대표사진
                                <input class="hide" type="file" id="input_upload_img" onchange="readURLFile(this, listener_after_upload)" accept="image/*"/>
                                <label for="input_upload_img"><div class="btn btn-default btn-sm">설정</div></label>
                            </label>
                            <div class="col-sm-10">
                                <input type="hidden1" class="input_required form-control m-b" id="detail_tbuser_img" keyword="img" placeholder="내용을 입력하세요" errormsg="사진을 선택해주세요." onchange="listener_tbuser_changed()"/>
                                <img id="img_tbuser_img" class="img-fluid" style="height:100px;" src="/resources/frontuser/img/img_transparent1.png"/>
                            </div>
                            <script>
                                function listener_after_upload(file_type, url){
                                    $("#img_tbuser_img").attr("src", url);
                                    $("#detail_tbuser_img").val(url);
                                    update_tbuser("#detail_tbuser_img");
                                }
                                function listener_tbuser_changed(){
                                    $("#img_tbuser_img").attr("src", $("#detail_tbuser_img").val());
                                    update_tbuser("#detail_tbuser_img");
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                detail_tbuser();
            });

            function detail_tbuser(){
                let tbuserId = getIdFromUrl(null);
                let _data = new Map();
                _data.url = "/api/tbuser";
                _data.type = "GET";
                _data.param = {'id':tbuserId};
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert(JSON.stringify(obj_data));
                    let detailKeys = Object.keys(obj_data)
                    for (let eachKey of detailKeys){
                        $(".font_tbuser_" + eachKey).text(obj_data[eachKey]);
                        $("#detail_tbuser_" + eachKey).val(obj_data[eachKey]);
                        $("#img_tbuser_" + eachKey).attr("src", obj_data[eachKey]);
                    }
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function update_tbuser(obj){
                let _param = {};
                _param["id"] = $("#detail_tbuser_id").val();
                _param[$(obj).attr("keyword")] = $(obj).val();
                //alert(_param[$(obj).attr("keyword")]);

                let _data = new Map();
                _data.url = "/api/tbuser";
                _data.type = "PUT";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert("수정되었습니다.");
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
