<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.basespr.mapper.TbbannerMapper">

	<!---->
	<select id="detail" parameterType="hashMap" resultType="com.thc.basespr.dto.TbbannerDto$SelectResDto">
		SELECT tbbanner.id
			,tbbanner.deleted
			,tbbanner.process
			,tbbanner.created_at as createdAt
			,tbbanner.modified_at as modifiedAt
			,tbbanner.title
			,tbbanner.content
			,tbbanner.img
		FROM tbbanner
		WHERE tbbanner.id = #{id}
	</select>
	<select id="list" parameterType="hashMap" resultType="com.thc.basespr.dto.TbbannerDto$SelectResDto">
		SELECT tbbanner.id
		FROM tbbanner
		WHERE tbbanner.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbbanner.deleted = #{deleted}</if>
		<if test = "sdate != null and sdate !=''">AND tbbanner.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbbanner.created_at</if>
		<if test = "title != null and title !=''">AND tbbanner.title LIKE CONCAT('%', #{title}, '%')</if>
		ORDER BY tbbanner.sequence DESC
	</select>

	<select id="moreList" parameterType="hashMap" resultType="com.thc.basespr.dto.TbbannerDto$SelectResDto">
		SELECT tbbanner.id
		FROM tbbanner
		WHERE tbbanner.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbbanner.deleted = #{deleted}</if>
		<if test = "sdate != null and sdate !=''">AND tbbanner.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbbanner.created_at</if>
		<if test = "title != null and title !=''">AND tbbanner.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "orderby =='created_at'">
			<if test = "orderway =='desc'">
				AND STR_TO_DATE(#{cursor}, '%Y-%m-%d %H:%i:%s.%f') > tbbanner.created_at ORDER BY tbbanner.created_at DESC
			</if>
			<if test = "orderway =='asc'">
				AND tbbanner.created_at > STR_TO_DATE(#{cursor}, '%Y-%m-%d %H:%i:%s.%f') ORDER BY tbbanner.created_at ASC
			</if>
		</if>
		<if test = "orderby =='title'">
			<if test = "orderway =='desc'">
				AND #{cursor} > tbbanner.title ORDER BY tbbanner.created_at DESC
			</if>
			<if test = "orderway =='asc'">
				AND tbbanner.title > #{cursor} ORDER BY tbbanner.created_at ASC
			</if>
		</if>
		LIMIT 0, #{perpage}
	</select>
	<select id="pagedList" parameterType="hashMap" resultType="com.thc.basespr.dto.TbbannerDto$SelectResDto">
		SELECT tbbanner.id
		FROM tbbanner
		WHERE tbbanner.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbbanner.deleted = #{deleted}</if>
		<if test = "sdate != null and sdate !=''">AND tbbanner.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbbanner.created_at</if>
		<if test = "title != null and title !=''">AND tbbanner.title LIKE CONCAT('%', #{title}, '%')</if>
		<if test = "orderby =='created_at'">ORDER BY tbbanner.created_at </if>
		<if test = "orderby =='title'">ORDER BY tbbanner.title </if>
		<if test = "orderway =='asc'">ASC</if>
		<if test = "orderway =='desc'">DESC</if>
		LIMIT #{offset}, #{perpage}
	</select>
	<select id="pagedListCount" parameterType="hashMap" resultType="Integer">
		SELECT count(tbbanner.id) as listsize
		FROM tbbanner
		WHERE tbbanner.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbbanner.deleted = #{deleted}</if>
		<if test = "sdate != null and sdate !=''">AND tbbanner.created_at >= CONCAT(#{sdate}, ' 00:00:00.000000')</if>
		<if test = "fdate != null and fdate !=''">AND CONCAT(#{fdate}, ' 23:59:59.999999') >= tbbanner.created_at</if>
		<if test = "title != null and title !=''">AND tbbanner.title LIKE CONCAT('%', #{title}, '%')</if>
	</select>

</mapper>