/*modal style*/
.modal-layer { display: none; position: relative; width: 325px; max-width: calc(100% - 48px); max-height: calc(100% - 48px); padding: 24px; border-radius: 6px; box-sizing: border-box; background: #fff; }

.dim-layer { display: none; position: fixed; _position: fixed; top: 0; left: 0; z-index: 2000; width: 100%; height: 100%; }
.dim-layer-on { display: flex; }
.dim-layer .dim-bg { position: fixed; top: 0; left: 0; right: 0; width: 100%; height: 100%; margin: 0 auto; background: rgba(0, 0, 0, 0.45); }
.dim-layer .modal-layer { display: block; }

.modal-group { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; }
.modal-container { height: 100%; background: #fff; overflow: auto; }
.modal-container .box-modal { overflow-y: auto; }
.modal-top .tit { font-size: 16px; font-weight: 500; color: #171717; text-align: center; }

.btn-group-modal .btn { height: 44px; font-size: 14px; }
.btn-group-modal .btn:not(:last-child) { margin-bottom: 8px; }

.btn-group-modal2 { display: flex; align-items: center; }
.btn-group-modal2 .btn { height: 44px; font-size: 14px; }
.btn-group-modal2 .btn:not(:last-child) { margin-right: 12px; }
.btn-group-modal2 + .btn-txt { display: flex; justify-content: center; align-items: center; margin: 8px auto 0; border: none; background: none; font-size: 12px; font-weight: 400; color: #717171; text-decoration: underline; }

.modal-layer .inp-frm { height: 44px; }
.modal-layer textarea.inp-frm { height: 100px; }


/*메시지 모달창*/
.modal-group-message .modal-layer { width: 300px; padding: 42px 24px 26px; box-sizing: border-box; }
.modal-group-message .modal-message { margin-bottom: 34px; text-align: center; }
.modal-group-message .modal-message .tit { margin-bottom: 16px; font-size: 18px; font-weight: 700; color: #171717; }
.modal-group-message .modal-message .txt { font-size: 14px; font-weight: 500; color: #171717; }
.modal-group-message .modal-message .txt strong { color: #00479c; }
.modal-group-message .modal-message .txt2 { margin-top: 16px; font-size: 14px; font-weight: 300; color: #171717; }
.modal-group-message .modal-message .txt3 { margin-top: 16px; font-size: 14px; font-weight: 500; color: #00479c; }
.modal-group-message .modal-message .txt4 { margin-top: 16px; font-size: 12px; font-weight: 300; color: #171717; }
.modal-group-message .modal-message .txt5 { margin-top: 4px; font-size: 12px; font-weight: 300; color: #171717; }


/*포인트 적립 모달창*/
.modal-point { margin-bottom: 40px; }
.modal-point .modal-title { margin-bottom: 24px; font-size: 14px; font-weight: 500; color: #171717; text-align: center; }
.modal-point .point-data { display: flex; justify-content: center; align-items: center; margin-bottom: 40px; }
.modal-point .point-data .tit { font-size: 14px; font-weight: 400; color: #171717; }
.modal-point .point-data .txt { margin-left: 35px; font-size: 14px; font-weight: 700; color: #00479c; }


/*로또 사용 모달창*/
.modal-lotto { margin-bottom: 20px; }
.modal-lotto .modal-title { margin-bottom: 20px; font-size: 18px; font-weight: 700; color: #171717; text-align: center; }
.modal-lotto img { display: block; margin: 0 auto; }


/*전달 확인 모달창*/
.modal-point2 { margin-bottom: 46px; }
.modal-point2 .modal-title { margin-bottom: 24px; font-size: 14px; font-weight: 500; color: #171717; text-align: center; }
.modal-point2 .txt-group { display: flex; justify-content: space-between; align-items: center; }
.modal-point2 .txt-group .tit { font-size: 14px; font-weight: 400; color: #171717; }
.modal-point2 .txt-group .txt { font-size: 14px; font-weight: 400; color: #00479c; }


/*룰렛 모달창*/
.modal-group-roulette .modal-close { position: fixed; top: 20px; right: 20px; z-index: 1; width: 48px; height: 48px; border: none; background: url('../img/common/ico_x1.svg') center center no-repeat; }
.modal-group-roulette .modal-layer { max-width: 100%; max-height: 100%; border-radius: 0; background: none; }
.modal-group-roulette .modal-container { background: none; }
.modal-group-roulette .roulette-group .top-section { margin-bottom: 60px; }
.modal-group-roulette .roulette-group .top-section .tit { font-size: 24px; font-weight: 700; color: #fff; text-align: center; line-height: 28px; }
.modal-group-roulette .roulette-group .top-section .txt { margin-top: 8px; font-size: 14px; font-weight: 400; color: rgba(255, 255, 255, 0.8); line-height: 18px; }
.modal-group-roulette .btn-custom { margin-top: 65px; }


/*프로필 편집 모달창*/
.modal-profile { margin-bottom: 28px; }
.modal-profile .profile-photo { position: relative; width: 80px; height: 80px; margin: 24px auto 12px; }
.modal-profile .profile-photo img { width: 100%; height: 100%; border-radius: 50%; box-sizing: border-box; }
.modal-profile .profile-photo .btn-upload2 { position: absolute; right: 0; bottom: 0; }
.modal-profile .profile-name { margin-bottom: 24px; font-size: 14px; font-weight: 700; color: #00479c; text-align: center; cursor: pointer; }


/*쪽지 보내기 모달창*/
.modal-message { margin-bottom: 28px; }
.modal-message .user-info { display: flex; align-items: center; margin-bottom: 40px; }
.modal-message .user-info .img-group { width: 80px; height: 80px; margin-right: 24px; }
.modal-message .user-info .user-data { width: calc(100% - 104px); }
.modal-message .user-info .user-data .user-name { font-size: 14px; font-weight: 700; color: #171717; }
.modal-message .user-info .user-data .user-id { font-size: 14px; font-weight: 700; color: #171717; }
.modal-message .user-info .user-data .btn-add { display: flex; align-items: center; margin-top: 4px; border: none; background: none; font-size: 12px; font-weight: 500; color: #717171; }
.modal-message .user-info .user-data .btn-add:before { content: ''; display: block; width: 16px; height: 16px; background: url('../img/ico_plus2.svg') center center no-repeat; }


/*로또 안내 모달창*/
.modal-guide { margin-bottom: 35px; text-align: center; }
.modal-guide .txt p { margin-bottom: 16px; font-size: 14px; font-weight: 500; color: #171717; }
.modal-guide .txt p:last-child { margin-bottom: 0; }
.modal-guide .txt p span { display: block; font-size: 12px; font-weight: 300; color: #171717; }
.modal-guide .txt2 { margin-top: 24px; font-size: 12px; font-weight: 300; color: #171717; text-align: center; }


/*폼 모달창*/
.modal-frm { margin-bottom: 7px; }
.modal-frm > .txt { margin-bottom: 20px; font-size: 14px; font-weight: 500; color: #171717; text-align: center; }
.modal-frm .tit-frm { margin-bottom: 3px; font-size: 12px; }
.modal-frm .inp-frm { padding: 0 12px 0 34px; border-color: #00479c; box-sizing: border-box; background: url('../img/ico_write3.svg') 8px center no-repeat; font-size: 12px; font-weight: 700; color: #00479c; }


@media only screen and (max-width: 360px) {
	.modal-group-roulette .modal-close { top: 5.556vw; right: 5.556vw; width: 13.333vw; height: 13.333vw; }
	.modal-group-roulette .modal-layer { max-width: calc(100% - 16.667vw); }
	.modal-group-roulette .roulette-group .top-section { margin-bottom: 16.667vw; }
	.modal-group-roulette .roulette-group .top-section .tit { font-size: 6.667vw; line-height: 7.778vw; }
	.modal-group-roulette .roulette-group .top-section .txt { margin-top: 2.2222vw; font-size: 3.889vw; line-height: 5vw; }
	.modal-group-roulette .roulette { width: 77.778vw; height: 77.778vw; }
	.modal-group-roulette .roulette .circle { width: 71.389vw; height: 71.389vw; }
	.modal-group-roulette .roulette .img-object { width: 18.333vw; height: 18.333vw; }
	.modal-group-roulette .roulette .img-pin { top: -10.556vw; width: 18.056vw; height: 21.111vw; }
	.modal-group-roulette .btn-custom { height: 13.333vw; margin-top: 18.056vw; border-radius: 2.222vw; font-size: 4.444vw; }
}