<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<script id="list_info_tbnotice" type="text/x-handlebars-template">
    {{#resultData_tbnotice}}
    <tr class="gradeA">
        <td>
            <input class="input_chk_delete_each" type="checkbox" keyword="{{id}}" id="input_chk_delete_each_{{id}}" onclick="listener_chk_delete(this)" />
        </td>
        <td><font class="font_order"></font></td>
        <td><font class="font_deleted_{{deleted}} chk_deleted_{{id}}">{{deleted}}</font></td>
        <td><font class="font_cate_{{cate}}">{{cate}}</font></td>
        <td class="cursor_pointer" onclick="location.href='/tbnotice/admin_detail/{{id}}';">{{title}}</td>
        <td>{{createdAt}} / {{modifiedAt}}
            <div class="hide">
                <input class="input_cursor_createdAt" value="{{createdAt}}"/>
                <input class="input_cursor_title" value="{{title}}"/>
            </div>
        </td>
    </tr>
    {{/resultData_tbnotice}}
</script>
<script type="text/javascript">
    var list_info_tbnotice = $("#list_info_tbnotice").html();
    var list_info_tbnotice_template = Handlebars.compile(list_info_tbnotice);
</script>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbnotice").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>공지사항</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbnotice/admin_list">글 모음</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>공지사항 목록</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <input type="hidden" id="input_keyword_changed" value="0" />
                        <input type="hidden" id="search_sdatetime" value="" />
                        <input type="hidden" id="search_fdatetime" value="" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">삭제여부</label>
                            <div class="col-sm-4">
                                <select class="select_search_keyword form-control m-b" keyword="deleted" id="search_deleted" onchange="listener_keyword_changed()">
                                    <option value="" selected="selected">전체</option>
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">구분</label>
                            <div class="col-sm-4">
                                <select class="select_search_keyword form-control m-b" keyword="cate" id="search_cate" onchange="listener_keyword_changed()">
                                    <option value="" selected="selected">전체</option>
                                    <option value="top">상위고정</option>
                                    <option value="normal">일반</option>
                                </select>
                            </div>
                            <!--<label class="col-sm-6 col-form-label"></label>-->
                            <label class="col-sm-2 col-form-label">등록 시기</label>
                            <div class="col-sm-3">
                                <input class="form-control" id="search_sdate" type="date" onchange="listener_keyword_changed()"/>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" id="search_fdate" type="date" onchange="listener_keyword_changed()"/>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('null'); return false;">초기화</button>
                                <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('today'); return false;">오늘</button>
                                <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('week'); return false;">1주</button>
                                <button class="btn btn-default btn-sm" onclick="set_search_sdatefdate('month'); return false;">1개월</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">키워드</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="search_keyword" onchange="set_search_keyword()">
                                    <option value="10" selected="selected">제목</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input id="search_title" onchange="listener_keyword_changed();"
                                       class="form-control search_keyword_each search_keyword_each_10" type="text" placeholder="내용을 입력하세요"/>
                            </div>

                            <input type="hidden" id="cursor" />
                            <label class="col-sm-2 col-form-label">검색 기준</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="orderby" onchange="listener_keyword_changed();">
                                    <option value="created_at" selected="selected">등록순</option>
                                    <option value="title">가나다순</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">한번에 불러올 갯수</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="perpage" onchange="listener_keyword_changed();">
                                    <option value="10" selected="selected">10</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">조회방향</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="orderway" onchange="listener_keyword_changed();">
                                    <option value="desc" selected="selected">역방향</option>
                                    <option value="asc">정방향</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" style="padding-bottom: 50px;">
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            <input class="input_chk_delete_all" type="checkbox" keyword="all" id="input_chk_delete_all" onclick="listener_chk_delete(this)" />
                        </th>
                        <th>#</th>
                        <th>삭제여부</th>
                        <th>구분</th>
                        <th>제목</th>
                        <th>입력일시/수정일시</th>
                    </tr>
                    </thead>
                    <tbody id="tbody_tbnotice_list">
                    </tbody>
                </table>
                <table style="width:100%">
                    <tr>
                        <td>
                            <button class="btn btn-danger btn-sm" onclick="delete_tbnotice()">일괄삭제</button>
                        </td>
                        <td style="text-align: right;">
                            <button class="btn btn-secondary btn-sm" onclick="location.href='/tbnotice/admin_create'">추가하기</button>
                            <button class="btn btn-primary btn-sm" onclick="search_tbnotice()">더보기</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script>
            function delete_tbnotice(){
                if (confirm("정말 삭제하시겠습니까?")) {
                } else {
                    alert("취소");
                    return false;
                }
                let ids = listenerGetDeleteIds();
                let _data = new Map();
                _data.url = "/api/tbnotice/list";
                _data.type = "DELETE";
                _data.param = {
                    'ids' : ids
                };
                _data.success = function(obj_data, obj_status, obj_xhr){
                    let resultlist = obj_data;
                    if(resultlist.length == 0){
                        alert("no data");
                    } else {
                        for(let i=0;i<ids.length;i++){
                            if($(".chk_deleted_" + ids[i]).hasClass("font_deleted_N")){
                                $(".chk_deleted_" + ids[i]).removeClass("font_deleted_N");
                                $(".chk_deleted_" + ids[i]).addClass("font_deleted_Y");
                            }
                            $("#input_chk_delete_each_" + ids[i]).prop("checked", false);
                        }
                        listenerAfterList();
                        check_chk_delete();
                    }
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                search_tbnotice();
            });
        </script>

        <script>
            function listener_keyword_changed(){
                $("#input_keyword_changed").val("1");
            }

            function search_tbnotice(){
                let cursor = $("#cursor").val();
                let orderway = $("#orderway").val();
                let orderby = $("#orderby").val();
                let input_cursor = null;
                if(orderway == "desc"){
                    if(orderby == "created_at"){
                        input_cursor = $(".input_cursor_createdAt");
                    } else if(orderby == "title"){
                        input_cursor = $(".input_cursor_title");
                    }
                    if(input_cursor.length > 0){
                        cursor = $(input_cursor[0]).val();
                        for(let i=0;i<input_cursor.length;i++){
                            if(cursor > $(input_cursor[i]).val()){
                                cursor = $(input_cursor[i]).val();
                            }
                        }
                    }
                } else {
                    if(orderby == "created_at"){
                        input_cursor = $(".input_cursor_createdAt");
                    } else if(orderby == "title"){
                        input_cursor = $(".input_cursor_title");
                    }
                    if(input_cursor.length > 0){
                        cursor = $(input_cursor[0]).val();
                        for(let i=0;i<input_cursor.length;i++){
                            if(cursor < $(input_cursor[i]).val()){
                                cursor = $(input_cursor[i]).val();
                            }
                        }
                    }
                }
                $("#cursor").val(cursor);
                //alert(cursor);
                //return false;
                if($("#input_keyword_changed").val() + "" === "1"){
                    $("#cursor").val("");
                }

                let params = {
                    'deleted' : $("#search_deleted").val()
                    ,'perpage' : $("#perpage").val()
                    ,'cursor' : $("#cursor").val()
                    ,'orderby' : $("#orderby").val()
                    ,'orderway' : $("#orderway").val()
                    ,'sdate' : $("#search_sdate").val()
                    ,'fdate' : $("#search_fdate").val()

                    ,'cate' : $("#search_cate").val()
                    ,'title' : $("#search_title").val()
                };
                let _data = {};
                _data.url = "/api/tbnotice/mlist";
                _data.type = "GET";
                _data.param = params;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert(JSON.stringify(obj_data));
                    let each_list = obj_data;
                    if($("#input_keyword_changed").val() + "" === "1"){
                        $("#tbody_tbnotice_list").html("");
                        $("#input_keyword_changed").val("");
                    }
                    if(each_list.length == 0){
                        alert("no Data");
                    }

                    if($("#orderway").val() == "desc"){
                        $("#tbody_tbnotice_list").append(list_info_tbnotice_template({"resultData_tbnotice":each_list}));
                    } else {
                        //each_list
                        each_list.reverse();
                        $("#tbody_tbnotice_list").prepend(list_info_tbnotice_template({"resultData_tbnotice":each_list}));
                    }

                    let detailKeys = Object.keys(obj_data);
                    for (let eachKey of detailKeys){
                        //alert(eachKey);
                        $(".font_" + eachKey).text(obj_data[eachKey]);
                    }
                    listenerAfterList();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>


        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
