<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbfaq").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>FAQ 상세 : <font class="font_tbfaq_title"></font></h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbfaq/admin_list">글 모음</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbfaq/admin_list">FAQ 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>FAQ 상세</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>#<font class="font_tbfaq_id">-</font></h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <input type="hidden" id="detail_tbfaq_id" value="" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">삭제여부</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbfaq_deleted" keyword="deleted" onchange="update_tbfaq(this)">
                                    <option value="N">일반</option>
                                    <option value="Y">삭제</option>
                                </select>
                            </div>
                            <label class="col-sm-2 col-form-label">구분</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="detail_tbfaq_cate" keyword="cate" onchange="update_tbfaq(this)">
                                    <option value="0010">이용문의</option>
                                    <option value="0020">게임하기</option>
                                    <option value="0030">포인트</option>
                                    <option value="0040">커뮤니티</option>
                                    <option value="0050">회원코드</option>
                                    <option value="0060">내정보</option>
                                    <option value="0070">기타</option>
                                </select>
                            </div>

                            <label class="col-sm-2 col-form-label">*제목</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b" id="detail_tbfaq_title" keyword="title" placeholder="내용을 입력하세요" onchange="update_tbfaq(this)" />
                            </div>

                            <label class="col-sm-6"></label>
                            <label class="col-sm-2 col-form-label">내용</label>
                            <div class="col-sm-10">
                                <textarea class="form-control m-b" id="detail_tbfaq_content" keyword="content" onkeyup="listener_maxlength_check(this, 2000);" onchange="update_tbfaq(this)" rows="4" placeholder="내용을 입력하세요"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                detail_tbfaq();
            });

            function detail_tbfaq(){
                let tbfaqId = getIdFromUrl(null);
                let _data = new Map();
                _data.url = "/api/tbfaq";
                _data.type = "GET";
                _data.param = {'id':tbfaqId};
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert(JSON.stringify(obj_data));
                    let detailKeys = Object.keys(obj_data)
                    for (let eachKey of detailKeys){
                        $(".font_tbfaq_" + eachKey).text(obj_data[eachKey]);
                        $("#detail_tbfaq_" + eachKey).val(obj_data[eachKey]);
                        $("#img_tbfaq_" + eachKey).attr("src", obj_data[eachKey]);
                    }

                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function update_tbfaq(obj){
                let _param = {};
                _param["id"] = $("#detail_tbfaq_id").val();
                _param[$(obj).attr("keyword")] = $(obj).val();
                //alert(_param[$(obj).attr("keyword")]);

                let _data = new Map();
                _data.url = "/api/tbfaq";
                _data.type = "PUT";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert("수정되었습니다.");
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function toggle_tbfaqpart(_param){
                let _data = new Map();
                _data.url = "/api/tbfaqpart/toggle";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    //alert(1);
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
